/* Mike Mann */
/* April 25, 2024 */



.banner {

    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    
}

table {

    float: right;
    border-style: solid;
    border-width: 5px;
    border-color: blue;
    text-align: center;
    font-weight: 550;

}

table th {

    color: red;
}

tbody {

    font-style: italic;

}

caption {

    font-weight: bold;

}

   

